<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4 text-align-center margin-bottom">Srijan's Employee Management</h3>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
      <table class="table pad-5 table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>Employee Name</th>
              <th>Phone no.</th>
              <th>E-mail</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="">
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>